<body class="login-background">

<div id="login-form-wrap">
  <h2>Logowanie</h2>
  <form id="login-form" (ngSubmit)="login()" #f="ngForm" class="login">
    <p>
      <input type="email" id="email" name="email" placeholder="Email" required #email="ngModel" [(ngModel)]="model.email">
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Hasło" required #password="ngModel" [(ngModel)]="model.password">
    </p>
    <p>
      <input type="submit" id="login" value="Logowanie">
    </p>
  </form>
  <a id="forgetpassword" href="/forgetpassword">Nie pamiętasz hasła?</a>
  <hr>
  <div id="register" class="register">
    <h3>Nie masz konta?</h3>
    <p>
      <button onclick="window.location.href='/register'">Rejestracja</button>
    </p>
  </div>
</div>
</body>
